<div style="display: flex; gap: 8px; margin-top: 16px">
  <input
    #fileInput
    style="display: none"
    type="file"
    nz-input
    (change)="onFileChange($event)"
    multiple
  />

  <div
    class="drop-zone"
    (click)="fileInput.click()"
    (dragover)="prevent($event)"
    (dragenter)="prevent($event)"
    (drop)="onDropFiles($event)"
  >
    Przeciągnij lub kliknij, aby dodać pliki
  </div>
  <div class="file-list">
    <div *ngFor="let name of fileNames; let i = index">
      <span style="margin-right: 4px">{{ name }}</span>
      <i
        style="cursor: pointer; color: red"
        nz-icon
        nzType="close-circle"
        (click)="removeFile(i)"
      ></i>
    </div>
  </div>
</div>
